<!-- Path Minimization Challenge Application -->
<!-- By Brian Cottrell                       -->
<!-- 12-18-2014                              -->

<!doctype html>
<html>
<head>
    <title>Pathfinding Challenge</title>
    <link type='text.css' rel='stylesheet' href='style.css'>
    <script src='points.js'></script>
    <script src='main.js'></script>
</head>

<body>
	<div class='title' id='title'>Pathfinding Challenge</div>
    <div class='outer'>
        <div class='map'></div>
    </div>
    <div class='login' id='login'>
    	<% if(loggedIn){ %>
    		<a href="/logout" class="user">Logout</a>
        	<p></p>
        <% }else{ %>
        	<a href="/login" class='user'>Login</a>
        	<a href="/signup" class='user'>Signup</a>
        <% } %>
    </div>    
    <div class='menu' id='menu'>
    	<p class='distance'>Start your path
            <br>
            <br>
            To complete the challenge, create a path that passes through every state.
        </p>
        <form action='/highscore' method='post'>
	        <input type='hidden' name='path' class='distance'>
	        <button type='submit' class='enter'>Enter Path</button>
    	</form>
    </div>
    <div class='preferences' id='preferences'>
        preferences<br>
    	<div class='rounded'></div>
    	<div class='squared'></div>
    	<div class='bordered'></div>
        <div class='green'></div>
        <div class='clear'></div>
        <div class='bluetext'></div>        
    </div>
    <div class='highscore' id='highscore'>
    	<p>
    		Top Scores:<br>
            <% var scoreList = []; %>
    		<% for(var i = 0; i < scores.length; i++){ %>
    			<% scoreList.push(scores[i].path); %>
    		<% } %>
            <% scoreList.sort(function(a, b){return a-b}); %>
            <% for(var i = 0; i < scoreList.length && i < 10; i++){ %>
                <%= scoreList[i] %> miles<br>
            <% } %>
    	</p>
    </div>
</body>
</html>